@import '../../styles/global.css';

.container {
  display: flex;
  background-color: var(--color-purple);
  height: 100%;
  width: 100%;
  color: var(--color-white);
}

.divider {
  width: 90%;
  border-top: 0.1px;
  border-color: var(--color-fontgrey);
}

.nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.nav__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__logo_img {
  height: 80px;
}

.nav__logo_text {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 2rem;
}

.nav__option {
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: var(--color-fontgrey);
  width: 80%;
  margin: 10px 30px;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
  font-weight: 700;
}

.nav__option:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: rgba(23, 104, 250, 0.07) 0px 1px 2px,
    rgba(23, 104, 250, 0.07) 0px 2px 4px, rgba(23, 104, 250, 0.07) 0px 4px 8px,
    rgba(23, 104, 250, 0.07) 0px 8px 16px,
    rgba(23, 104, 250, 0.07) 0px 16px 32px,
    rgba(23, 104, 250, 0.07) 0px 32px 64px;
}

.nav__option_text {
  margin: 0px 15px;
}

.swipe {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe__search {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color-fontgrey);
  width: 85%;
  font-family: 'Comfortaa', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  padding: 10px 20px;
  color: var(--color-white);
  margin-top: 90px;
}

.messages {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.user {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding: 30px;
}

.chats {
  margin: 20px 0px;
}

.messages__user {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

.user__picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0px 20px;
}

.user__message {
  margin-left: auto;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 10px 20px;
  border: 3px solid var(--color-darkbluegrey);
  background-color: var(--color-bluegrey);
  color: var(--color-white);
}

.user__message:hover {
  background-color: var(--color-white);
  color: var(--color-darkbluegrey);
}
