/* .swipe {
  background-color: var(--color-fontgrey);
  padding: 20px 40px;
  border-radius: 50px;
  box-shadow: rgba(23, 104, 250, 0.07) 0px 1px 2px,
    rgba(102, 102, 102, 0.07) 0px 2px 4px, rgba(102, 102, 102, 0.07) 0px 4px 8px,
    rgba(102, 102, 102, 0.07) 0px 8px 16px,
    rgba(102, 102, 102, 0.07) 0px 16px 32px,
    rgba(102, 102, 102, 0.07) 0px 32px 64px;
}

.swipe__button {
  background: none;
  border: none;
  color: var(--color-white);
  transition: transform 0.2s;
  margin: 0px 10px;
  cursor: pointer;
}

.swipe__button:hover {
  transform: scale(1.2);
} */

/* #pass:hover {
  color: #ac0000;
}

#superlike:hover {
  color: rgb(9, 9, 121);
}

#like:hover {
  color: #1dbe01;
} */

.controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px; 
}

.controls__circle {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 50%;
  padding: 15px;
  transform: rotate();
  cursor: pointer;
}

.plus__icon {
  transform: rotate(45deg);
  border-color: #91B8DA;
}

.instructions {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(160, 160, 160);
}

.ins {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.ins > p {
  margin-left: 5px;
}

.circle__icon {
  border-color: #F5828A;
}

.square__icon {
  border-color: #D3A6CE;
}

.triangle__icon {
  border-color: #41CBD7;
}