.divider1 {
    width: 70%;
    border-top: 0.1px;
    border-color: var(--color-fontgrey);
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider2 {
    border-top: 0.1px;
    width: 70%;
    border-color: var(--color-fontgrey);
    margin-top: 180px;
}

.nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.nav__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-10px) translateY(8px);
}

.nav__logo_img {
  height: 40px;
}

.nav__logo_text {
  /* font-family: 'Luckiest Guy', sans-serif; */
  font-size: 1.7rem;
  font-family: 'PT Sans', sans-serif;
  margin-left: 10px;
  /* font-family: 'Bungee', cursive; */
  /* font-family: 'Modern Warfare', sans-serif; */
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 48%;
}

.nav__option , .nav__option2, .nav__option3{
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  color: var(--color-fontgrey-text);
  width: 80%;
  margin: 5px 30px;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
}

.nav__option2 {
  padding-left: 20px;
  /* margin-left: 10px; */
}

.nav__option3 {
  padding: 6px;
}

.nav__option:hover , .nav__option2:hover{
  background-color: var(--color-blue);
  /* background-color: rgb(49, 111, 235); */
  color: var(--color-white);  
  box-shadow: rgba(23, 104, 250, 0.07) 0px 1px 2px,
    rgba(23, 104, 250, 0.07) 0px 2px 4px, rgba(23, 104, 250, 0.07) 0px 4px 8px,
    rgba(23, 104, 250, 0.07) 0px 8px 16px,
    rgba(23, 104, 250, 0.07) 0px 16px 32px,
    rgba(23, 104, 250, 0.07) 0px 32px 64px;
}

.nav__option_text {
  margin: 0px 15px;
  font-weight: 500;
}
                   
.logout {
  margin-top: 30px;
  background-color: #14112F;
  border-radius: 20px;
  border: 1px solid rgb(56, 56, 56);
}
 